*{
    box-sizing: border-box;
}

.container{
    width: 50%;
    margin: auto;
    padding: 10px;
    background-color: #fff9f9  ;
    display: flex;

}
.content{
    max-width: 400px;
    padding: 10px;
}
.content h1:first-child{
    color: #bf9a99;
}
.content h1:nth-child(2){
    color: #403738;
}
p{
    font-size: 20px;
}
input{
    height: 40px;
    min-width: 400px;
    border-radius: 20px;
    border: 2px solid #f1e9ea;
    padding-left: 10px;
}
.content::after{
    content: '\3e';
    font-size: 35px;
    font-weight: bold;
    background-color: #f59b9e;
    position: relative;
    bottom: 39px;
    left: 333px;
    display: block;
    text-align: center;
    width: 64px;
    border-radius: 17px;
    height: 38px;

}
.image{
    min-width: 400px;
    min-height: 200px;
    padding-left: 10px;
}
.image img{
    width: 100%;
    height: 65%;
}

@media(max-width:767px){

    .container{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .image{
        width:400px;
    }
    .image img{
        width:400px;
        padding:0;
    }
    .content::after{
        left:331px;
    }
}
